{% include "header.html" %}
<h3>About</h3>

<div style="width:500;">
<p><b>rsstic</b> ("rustic", "rss ticker") is a service for aggregating and moderating rss feeds into a single, cleaned up rss output. Create a new project and add feeds to it, selecting only those items within the feeds that you want in the project's aggregated RSS output. Re-generate your project's RSS after moderation.</p>
</p>

<p>RSStic is built using the <a href="https://www.djangoproject.com/">Django framework</a>.</p>
</div>



